.heroes-container {
  display: flex;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    text-align: center;
    gap: 2rem;
    width: 70vw;
  }
}

.add-form {
  width: 20%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}