<div class="add-form">
    <mat-form-field>
        <input matInput placeholder="Name" type="new-hero" #heroName />
    </mat-form-field>
    <button mat-stroked-button color="primary" type="button" class="add-button"
        (click)="add(heroName.value); heroName.value=''">
        Add
    </button>
</div>
<div class="heroes-container">
    <ul>
        <app-hero-avatar (selectHero)="onSelect(hero)" *ngFor="let hero of heroes$ | async" [hero]="hero"
            (deleteHero)="delete(hero)">
        </app-hero-avatar>
    </ul>
    <app-hero-detail [hero]="selectedHero"></app-hero-detail>
</div>