@use "@angular/material" as mat;

@include mat.core();

$custom-primary: mat.define-palette(mat.$green-palette, 500);
$custom-accent: mat.define-palette(mat.$pink-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// @include mat.core-theme($custom-theme);
// @include mat.button-theme($custom-theme);

@include mat.all-component-themes($custom-theme);

body,
input[type="text"],
button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}